

body{
              font-family: Arial, Helvetica, sans-serif;
              background: #dee4ff;
              padding: 20px;
}
input{
              
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              box-sizing: border-box;
}
button{
              background-color: #4CAF50;
              color: white;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              box-sizing: border-box;
              cursor: pointer;

}
button:hover{
              opacity: 0.8;
              background-color: #436400;
}